<div class="container-fluid">
    <div class="row">

        <!-- -------customer form ------ -->

        <div class="mb-5 mt-5">
            <h3 class="mb-4">Customer Form:</h3>

            <!-- ------------customer Name------------ -->
            <label for="name">Name:</label>
            <input id="name" type="text" [(ngModel)]="customerName" class="ms-5 mb-3" placeholder="Enter Name"><br>
            <p *ngIf="validName" class="text-danger">{{nameError}}</p>

            <!-- ------------customer Email------------ -->
            <label for="email">Email:</label>
            <input id="email" type="text" [(ngModel)]="customerEmail" class="ms-5 mb-3" placeholder="Enter Email">
            <p *ngIf="validEmail" class="text-danger">{{emailError}}</p><br>


            <!-- ------------customer Address------------ -->
            <app-address [nullAddress]="customerAddress" (add)="getAddress($event)"></app-address>


            <!-- ------------customer Status------------ -->
            Status: <select class="ms-4 mb-3" [(ngModel)]="status">
                <option *ngFor="let cate of statusArr" [value]="cate.name">
                    {{cate.name}}
                </option>
            </select><br>


            <!-- ------submit data----- -->
            <button type="button" class="btn btn-primary"
                [disabled]="customerName === '' || customerEmail === '' || customerAddress === ''"
                (click)=" onSubmit()">Submit</button>

        </div>
        <hr>


        <!-- ------------ customer display component-------- -->
        <app-customer-display-data [displayArr]="customerArr" [validEmail]="validEmail"
            (newItemEvent)="editName($event)">
            <h3 class="text-primary">Customer List:</h3>
        </app-customer-display-data>

    </div>
</div>