<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5">

            <!-- ---------customer list title-------- -->
            <ng-content></ng-content>

            <!-- --------------status filter button-- -->
            <button (click)="onActive()" class="btn btn-success mt-3 mb-3">Active</button>
            <button (click)="onInactive()" class="btn btn-danger ms-3 mt-3 mb-3">Inactive</button>


            <!-- ----------customer display table-------- -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="cursor: pointer;" (click)="sortName('Name')">Name</th>
                        <th scope="col" style="cursor: pointer;" (click)="sortName('Email')">Email</th>
                        <th scope="col" style="cursor: pointer;" (click)="sortAddress('Address')">Address</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>


                    <ng-container *ngIf="status">

                        <!-- <ng-container *ngIf="!validEmail"> -->


                        <tr *ngFor="let data of displayArr">

                            <td>{{data.Name}}</td>
                            <td>{{data.Email}}</td>
                            <td>{{data.Address}}</td>

                            <td><span class="badge" [ngClass]="{
                            'active' : data.Status == 'Active' ,
                            'inactive' : data.Status == 'Inactive' 
                         }">{{data.Status}}</span></td>
                            <td><button class="btn btn-outline-danger" (click)="onEdit(data)">Edit</button></td>
                        </tr>
                    </ng-container>
                    <!-- </ng-container> -->

                    <!-- -------------filter by status--------- -->

                    <ng-container *ngIf="isActive">
                        <tr *ngFor="let data of displayActiveArr">

                            <td>{{data.Name}}</td>
                            <td>{{data.Email}}</td>
                            <td>{{data.Address}}</td>

                            <td><span class="badge" [ngClass]="{
                            'active' : data.Status == 'Active' ,
                            'inactive' : data.Status == 'Inactive' 
                         }">{{data.Status}}</span></td>

                        </tr>
                    </ng-container>

                    <ng-container *ngIf="isInactive">
                        <tr *ngFor="let data of displayStatusArr">

                            <td>{{data.Name}}</td>
                            <td>{{data.Email}}</td>
                            <td>{{data.Address}}</td>

                            <td><span class="badge" [ngClass]="{
                            'active' : data.Status == 'Active' ,
                            'inactive' : data.Status == 'Inactive' 
                         }">{{data.Status}}</span></td>

                        </tr>
                    </ng-container>



                </tbody>
            </table>

        </div>
    </div>
</div>